
@font-face {font-family: "iconfont";
  src: url('../../font/iconfont.eot?t=1469526295'); /* IE9*/
  src: url('../../font/iconfont.eot?t=1469526295#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../font/iconfont.woff?t=1469526295') format('woff'), /* chrome, firefox */
  url('../../font/iconfont.ttf?t=1469526295') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../../font/iconfont.svg?t=1469526295#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-select:before { content: "\e60b"; }
.icon-applyqinggou:before { content: "\e635"; }
.icon-catering:before { content: "\e61b"; }
.icon-zhusu:before { content: "\e644"; }
.icon-plus:before { content: "\e608"; }
.icon-minus:before { content: "\e626"; }

.icon-nav{
  width: 1.2rem;
  background-size: 1.2rem;
  background-repeat: no-repeat;
}
.icon-nav-home{
  background-image: url("../../images/nav_home_n.png");
}
.active .icon-nav-home{
  background-image: url("../../images/nav_home.png");
}

.icon-nav-custom{
  background-image: url("../../images/nav_custom_n.png");
}
.active .icon-nav-custom{
  background-image: url("../../images/nav_custom.png");
}

.icon-nav-mine{
  background-image: url("../../images/nav_mine_n.png");
}
.active .icon-nav-mine{
  background-image: url("../../images/nav_home.png");
}


.btn_link a{
  position: relative;
  display: block;
  padding-left: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: left;
  font-size: 0.7rem;
  border-width: 0;
  border-bottom: 1px solid #eee;
 /* -webkit-border-image: url("../component/img/icon_border_half.png?v=20160712_15_35") 2 stretch;
  border-image: url("../component/img/icon_border_half.png?v=20160712_15_35") 2 stretch;*/

  &::before{
    position: absolute;
    left: 16px;
    top: 50%;
    width: 1.2rem;
    height: 1.2rem;
    /* background-size: 30px; */
    content: "";
    margin-top: -0.6rem;
  }

  &.i-order::before{
    background: url("../../images/i-order.png") no-repeat top left;
    background-size: 1.2rem;
  }
  &.i-retail::before{
    background: url("../../images/i-retail.png") no-repeat top left;
    background-size: 1.2rem;
  }
  &.i-money::before{
    background: url("../../images/i-money.png") no-repeat top left;
    background-size: 1.2rem;
  }
  &.i-code::before{
    background: url("../../images/i-code.png") no-repeat top left;
    background-size: 1.2rem;
  }
  &.i-fav::before{
    background: url("../../images/i-fav.png") no-repeat top left;
    background-size: 1.2rem;
  }
  &.i-msg::before{
    background: url("../../images/i-msg.png") no-repeat top left;
    background-size: 1.2rem;
  }
  &.i-private::before{
    background: url("../../images/i-private.png") no-repeat top left;
    background-size:1.2rem;
  }
  &.i-setting::before{
    background: url("../../images/i-setting.png") no-repeat top left;
    background-size: 1.2rem;
  }

  @include arrow-right();

  span{
    position: absolute;
    right: 30px;
    color: #999999;
  }
}

.tab_link a{
  position: relative;
  display: block;
  padding-left: 50px;
  height: 49px;
  line-height: 50px;
  text-align: left;
  font-size: 15px;
  border-width: 0;
  border-bottom: 1px solid #eee;
  /* -webkit-border-image: url("../component/img/icon_border_half.png?v=20160712_15_35") 2 stretch;
   border-image: url("../component/img/icon_border_half.png?v=20160712_15_35") 2 stretch;*/

  &::before{
    position: absolute;
    left: 10px;
    top: 7px;
    width: 32px;
    height: 32px;
    /* background-size: 30px; */
    content: "";
    background-image: url("../../images/detail_notice.png");
    background-repeat: no-repeat;
    background-size: 30px;
  }

  &.i-notice-route::before{
    background-position: 3px 7px;
  }
  &.i-notice-active::before{
    background-position:3px -43px;
  }
  &.i-notice-apply::before{
    background-position: 3px -97px;
  }
  &.i-notice-start::before{
    background-position: 2px -149px;
  }
  &.i-notice-cost::before{
    background-position: 2px -201px;
  }
  &.i-notice-warn::before{
    background-position: 2px -254px;
  }
  &.i-notice-remind::before{
    background-position: 2px -307px;
  }

  &::after{
    position: absolute;
    right: 15px;
    top: 24px;
    margin-top: -3.5px;
    display: inline-block;
    border-bottom: 2px solid #c0c0c0;
    border-left: 2px solid #c0c0c0;
    width: 7px;
    height: 7px;
    content: '';
    @include transform(rotate(-135deg));
  }

  &.down_arrow{
    border-bottom: 0;
    &::after{
      @include transform(rotate(-45deg));
    }
  }

  span{
    position: absolute;
    right: 30px;
    color: #999999;
  }


}

